.load {
    display: flex;
    justify-content: center;
}

.load-more {
    
    display: block;
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #f73b3b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.is-hidden {
    display: none;
}
